@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:weight@700&family=Lexend:wght@200&display=swap');
.HEADER h1{
    font-family: 'Dancing Script', cursive;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    width: 100%;
}
.top-header{
    background-color: rgba(169, 0, 112, 0.898);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-header{
    background-color: rgb(43, 43, 43);
    height: 50px;
    display: flex;
    align-items: center;
}
.second-header .logo,.second-header .blank-space{
    width: 30%;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
}
.second-header .logo h4,.second-header .logo a{
    display: flex;
    justify-content: center;
    align-self: center;
}
.second-header .information{
    display: flex;
    justify-content: space-around;
    width: 40%;
    color: white;
}
.email {
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.BODY{
    margin: 5px;
}
.detials{
    width: 150px;
    background: rgb(43, 43, 43);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.border-light, .detials:hover{
    width: 150px;
    background: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}



@media (max-width: 475px) {
    .second-header .information{
        display: block;
        justify-content: space-around;
        width: 40%;
        color: white;
    }
    .detials{
        width: 150px;
        background: rgb(43, 43, 43);
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 5px;
    }
    .border-light, .detials:hover{
        width: 150px;
        background: black;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 5px;
    }
    .top-header{
        background-color: rgba(169, 0, 112, 0.898);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .second-header{
        background-color: rgb(43, 43, 43);
        height: 100px;
        display: flex;
        align-items: center;
    }
}